:root {
    --background-color: #eee;
    --background-inverse-color: #fff;
    --border-layout: #4a90e2;
    --border-input: #ccc;
    --highlight-color: #4a90e2;
}

* {
    outline: 0;
}

html, body {
    height: 100%;
    background: var(--background-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Layout Box */
.box {
    border-top: 2px solid var(--border-layout);
    padding: 20px;
    box-shadow: 0 2px 3px 0 rgba(222, 222, 222, 0.9);
    border-radius: 3px;
    background: var(--background-inverse-color);
}
.box-login {
    width: 400px;
}

/* inputs */
.input {
    border: 1px solid var(--border-input);
    padding: 15px;
    width: 100%;
    border-radius: 3px;
    outline: 0;
}
.input:focus {
    border: 1px solid var(--border-layout);
}

/* Links */
a {
    text-decoration: none;
    color: var(--highlight-color);
}
a:hover {
    text-decoration: underline;
    color: var(--highlight-color);
}

/* Buttons */
.button {
    width: 100%;
    padding: 15px;
    border: 0;
    color: #fff;
    font-weight: bold;
    background: var(--highlight-color);
}

