.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}
.form-login input {
    margin: 10px 0;
}
.form-login > div {
    width: 100%;
    position: relative;
    margin: 25px 0 30px 0;
    height: 36px;
}
.form-login a {
    right: 0;
    position: absolute;
    font-weight: bold;
    margin: 10px 0 0 0;
}